<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <div style="font-weight: bold">EMPLOYEE RECORD</div>
        <div>Name 1: {{name1}}</div>
        <div v-if="name2">Name 2: {{name2}}</div>
        <div>Surname : {{surname}}</div>
        <div v-if="!foreigner">Pesel: {{pesel}}</div>
        <div v-if="foreigner">Nationality: {{nationality}}</div>
        <div>Address : {{address}}</div>
      </div>
    </div>
    <script>
      var app = new Vue({
        el: "#app",
        data: {
          name1: "Adam",
          name2: "Jan",
          surname: "Majewski",
          foreigner: false,
          nationality: "Polish",
          pesel: "92021708229",
          address: "ul. Szeroka 3, Kraków"
        }
      });
    </script>
  </body>
</html>
